
<div class="container-fluid pt-4 px-2 ">

  <div class="row" style="margin: 50px;">
    <div class="col-11">
      <h1 style="margin-top: 50px;  font-family: Georgia, serif;"><strong>Your Dashboard...</strong></h1>
      <button style="width: 20%;border-radius: 50px;height: auto;font-size: 20px;" type="button" class="btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#exampleModal" id="jjj">
       <p style="height: auto;max-width: 100%">Post Project</p> 
      </button>
    </div>
    <div id="welcome">
      <div *ngIf="hideDiv">
        <p style="font-family: Century, serif;font-size: 30px!important;margin: 20px;">Your Projects...</p>

        <div *ngFor="let job of edit_jobs">

          <hr>
          <a href="MainPageEm" (click)="sort_proposal(job.id);hideDiv = !hideDiv " style="color: black;text-decoration: none;; ">

            <h4 style="margin-left: 20px;">{{ job.jop_name }}</h4>
            <div class="row">
              <div style="margin-left: 20px;" class="col-5">{{job.job_type}}</div>
              <div class="col-5" style="text-align: center;" >number of applicants</div>
            </div>
            <div class="row">
              <div style="margin-left: 20px;margin-bottom: 20px;" class="col-6">{{job.job_pay_type}}</div>
              <div class="col-2" style="margin-left: 60px;" >{{ job.proposal_num }}</div>
              <!-- <div  class="col-3">Created {{job.created_time}} ago</div> -->
            </div>
          </a>

        </div>
      </div>


      <div class="container-fluid pt-4 px-2" *ngIf="!hideDiv">
         <a class="navbar-brand" href="MainPageEm">
          <button style="border-radius: 50px;margin: 10px;" type="button" class="btn btn-primary"
          data-bs-toggle="modal" data-bs-target="#exampleModal">
          Back to your main Project
        </button>
         </a>
         <hr>
        <h4>People apply to this Project</h4>

        <div *ngFor="let job of applaied_job">
          <hr>
            <div class="row"  style="margin: 5px;">
              <div style="margin-left: 20px;" class="col-7">{{job.student_username}}</div>
              <div class="col-3">Applied</div>
            </div>
            <div class="row"  style="margin: 5px;">
              <div style="margin-left: 20px;margin-bottom: 20px;" class="col-7">{{ job.proposal }}</div>
              <div class="col-3">{{job.created_time}} ago</div>
            </div>
        </div>
      </div>


    </div>

    <!-- <div class="col-1">
      <button style="width: 150%!important;border-radius: 50px;margin-left: 50px;height: 20%;font-size: 20px;" type="button" class="btn btn-primary"
        data-bs-toggle="modal" data-bs-target="#exampleModal">
       <p style="height: auto;max-width: 100%">Post Job</p> 
      </button>
    </div> -->
  </div>


</div>



<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Post Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- ================================form================================================ -->
        <form class="px-4 pt-5 my-auto" [formGroup]="myForm" (ngSubmit)="craete_job()">
          <p class="text-muted">Please enter your Project details.</p>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="jop_name"
              formControlName="jop_name">
            <label for="floatingInput">Project Name</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="jop_discription"
              formControlName="jop_discription">
            <label for="floatingInput">Project Discription</label>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="floatingstudent_skills" name="student_skills" placeholder="student_skills"
              formControlName="student_skills">
              <option value="" selected disabled>Select Student Skills</option>
              <option value="Graphic Design">Graphic Design</option>
              <option value="Marketing">Marketing</option>
              <option value="Gaming Test">Gaming Test</option>
            </select>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="floatingjob_type" name="job_type" placeholder="job_type"
              formControlName="job_type">
              <option value="" selected disabled>Select Project Type</option>
              <option value="Graphic Design">Graphic Design</option>
              <option value="Marketing">Marketing</option>
              <option value="Gaming Test">Gaming Test</option>
              <option value="Video Creation">Video Creationt</option>
              <option value="Social Media Management">Social Media Management</option>
              <option value="Tutoring">Tutoring</option>
              <option value="Researching Topics">Researching Topics</option>
              <option value="Product Testers">Product Testers</option>
            </select>
          </div>

          <div class="form-floating mb-3">
            <select class="form-select" id="floatingjob_pay_type" name="job_pay_type" placeholder="job_pay_type"
              formControlName="job_pay_type">
              <option value="" selected disabled>Select Project Pay Type</option>
              <option value="Hourly">Hourly</option>
              <option value="Fixed price">Fixed price</option>
            </select>
          </div>

        </form>
        <!-- ========================================================================= -->

      </div>
      <div class="modal-footer">


        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="craete_job()">Submit</button>
      </div>
    </div>
  </div>
</div>